<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京</key>
	<array>
		<string>绿地缤纷城房山店</string>
		<string>京西宾馆西楼</string>
		<string>人民大会堂宾馆西楼</string>
		<string>半岛广场</string>
		<string>华联商厦(回龙观二店)</string>
		<string>中国国际展览中心新馆</string>
		<string>荟聚购物中心(西红门店)</string>
		<string>得实大厦</string>
	</array>
	<key>成都</key>
	<array>
		<string>成都SM百货</string>
		<string>成都A世界购物中心</string>
		<string>四川成都双流国际机场</string>
		<string>龙泉百伦新宸百货</string>
		<string>成都火车东站</string>
		<string>都江堰百伦百货</string>
		<string>新津百伦新宸百货新津百伦新宸百货</string>
	</array>
	<key>广州</key>
	<array>
		<string>广百百货（新一城店）</string>
		<string>广州天河北时代广场</string>
		<string>天河城百货(东圃店)</string>
		<string>广东全球通大厦</string>
		<string>恒宝广场</string>
		<string>王府井百货东山店</string>
	</array>
	<key>上海</key>
	<array>
		<string>上海虹桥国际机场T2</string>
		<string>浦商百货金叶店</string>
		<string>美罗城</string>
		<string>月亮湾商业中心</string>
		<string>诺亚新天地</string>
		<string>上海亚繁亚乐城</string>
		<string>盛源生活广场</string>
		<string>浦商商场现代店</string>
	</array>
	<key>青岛</key>
	<array>
		<string>利群胶南购物中心</string>
		<string>北方国贸购物广场</string>
		<string>银座和谐青岛店</string>
		<string>青岛阳光百货</string>
		<string>胶州宝龙广场</string>
	</array>
	<key>西安</key>
	<array>
		<string>西安宜爱欢乐城</string>
		<string>民生百货（钟楼店）</string>
		<string>民生百货（长安店）</string>
		<string>大明宫建材家居（钻石店）</string>
		<string>白马唯品国际广场</string>
		<string>秦始皇兵马俑博物馆</string>
		<string>大唐不夜城新乐汇</string>
	</array>
	<key>深圳</key>
	<array>
		<string>深圳北站</string>
		<string>岁宝百货聚福店</string>
		<string>石厦新港商城</string>
		<string>嘉邻中心</string>
		<string>华强北九方购物中心</string>
		<string>深圳观澜湖购物中心</string>
		<string>深国投广场</string>
		<string>形色城购物广场</string>
	</array>
	<key>杭州</key>
	<array>
		<string>衣之家时代店</string>
		<string>东方茂购物中心</string>
		<string>星光国际广场一期</string>
		<string>杭州永旺梦乐城</string>
		<string>杭州万泰城</string>
	</array>
	<key>南京</key>
	<array>
		<string>同曦假日百货</string>
		<string>南京泓源奥莱城</string>
		<string>南京中海环宇城</string>
	</array>
</dict>
</plist>
